@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top right,rgba(251, 100, 223, 0.3),rgba(228, 166, 249, 0.5)) fixed !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbccc8');
    /* background-attachment: fixed; */
    color: black !important;
    
}
img{
    max-width: none !important;
}
.container{
    position: absolute;
    height: 100%;
}
.logo-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.search-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}


.search-bar {
    width: 90%;
    padding: 1rem;
    margin: 1rem;
}

.card-container{
    position: absolute;
    width: 100vw;
    height: 100%;
    justify-content: space-evenly;
    align-content: center;
    /* margin: auto; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* grid-template-columns: auto auto auto auto auto auto auto; */
    overflow-y: scroll;
    overflow-x: none;
}

.cards {
    flex-grow: 1;
    width: 90%;
    display: flex;
    /* width: 8rem; */
    height: 8rem;
    border-radius: 10px;
    background: linear-gradient(145deg, #d9dad6, #b7b8b4);
    box-shadow:  5px 5px 20px #adadaa,
                 -5px -5px 20px #e9ebe6;
    transition: ease all 0.2s;
    margin: 1rem;
}

.cards:hover {
    border-radius: 10px;
background: #cbccc8;
box-shadow: inset 5px 5px 20px #adadaa,
            inset -5px -5px 20px #e9ebe6;
}

.img-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-back {
    overflow: hidden;
    position: absolute;
    border-radius: 50px;
}

.card-img-back img{
    width: 7rem; 
    filter: blur(5px) ;
    height: 7rem; 
    /* margin: -5px -10px -10px -5px; */
    opacity: 0.7;
}

.card-img-art {
    position: relative;
    border-radius: 100%;
    border: #393939 3px solid;
    margin: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    transition: ease all 0.2s;
}

.puntero {
    cursor: pointer;
}

.card-title,
.card-text {
    margin: 0px 2px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.card-title{
    margin-top: 1rem;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: #393939;
}

.card-text{
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #707070;
}

.lyrics{
    font-family: 'Segoe UI';
    padding: 1rem;
    color: #393939;
    font-size: 14px;
    white-space: pre-line;
}
.player{
    position: absolute;
    bottom: 0;
    width: 100%; 
}
@media only screen and (min-width: 600px){
    .card-container{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .cards{
        width: 12%;
        display: block;
        height: 12rem;
    }
    .lyrics{
        white-space: normal;
        font-size: 16px;
        margin: 1rem;
    }
}